* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.capp {
    background: #cc9782;
    height: 100vh;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 50vh;
    padding: 5px;
    margin: auto;
}

.todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 20pt;
    justify-content: space-between;
    margin-bottom: 1vh;
    padding: 3px 10px;
}

input {
    font-size: 20pt;
    min-width: 49vh;
}